__pycache__/
*/__pycache__
.vscode/
db.sqlite3
scratch*
scratch/
*/migrations/*
.venv/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/secrets.tfvars
*tfstate*
app_luna_watch/migrations
