<form action="{% url 'app_luna_watch:new_schedule' pet.name %}" method="post">
    {% csrf_token %}
    <input type="button", name = create_schedule, value = 'Create Schedule'>
        <!-- {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %} -->
    </fieldset>
    <input type="submit" value="Vote">
    </form>
